@font-face {
	font-family:"Bellerose";
	src:url("Bellerose.eot?") format("eot"),url("Bellerose.woff") format("woff"),url("Bellerose.ttf") format("truetype"),url("Bellerose.svg#BelleroseLight") format("svg");
	font-weight:normal;
	font-style:normal;
	}

html {
	margin: 0;
	padding: 0;
	height: 100%;
}
	
body {
	margin: 0 auto;
	padding: 0;
	background-color: #EFECE5;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 1.05em;
	height: 100%;
}

#page-wrap {
	min-height: 100%;
	position: relative;
}

#archive_dp {
	width: 120px;
	height: 120px;"
}

#riva {
	float: right;
	width: 7.7em;
	border: 5px solid;
	border-color: #D4CCC5;
	margin-right: .5em;
	margin-bottom: .3em;
}

.head {
	width: 100%;
	min-width: 40em;
}

.body {
	background-color: #EFECE5;
	margin: 0 auto;
	padding: 0;
    overflow: hidden;
	text-align: left;
	min-width: 40em;
	z-index: -10;
	padding-bottom: 45px;
}

a {
	color: blue;
}

.header {
	background-color: #3D352A;
	width: 100%;
}

.footer {
	position: absolute;
	bottom: 0;
	height: 45px;
	background-color: #3D352A;
	width: 100%;
	min-width: 40em;
}

.header_logo {
	padding-left: 1em;
}

.mside {
    display: block;
	min-width: 40em;
	width: 44em;
    justify-content: center;
	padding-right: 1em;
	margin-bottom: 10px;
	margin: 0 auto;
	min-height: 28em;
	max-height: 35em;
	position: relative;
}

.temp_mside {
    display: block;
	margin: 0 auto;
	min-width: 0em;
	width: 100%;
    justify-content: center;
	padding-right: 1em;
	margin-bottom: 10px;
	min-height: 28em;
	max-height: 35em;
	position: relative;
	top: 2em;
	left: 1em;
}

.middle {
	margin: 0 auto;
	margin-top: 3em;
	padding-left: 2em;
	min-height: 22em;
	min-width: 40em;
	max-width: 80em;
}

.rside {
	display: none
}

.middle_text {
	padding-left: 1em;
	padding-right: 1em;
}

.middle_title {
	font-family: Century Gothic;
	font-size: 1.5em;
	margin: 0;
}

.lside {
	background-color: #D4CCC5;
	display: -webkit-flex;
    display: block;
	min-width: 14em;
	width: 21em;
	margin-top: 1em;
	color: grey;
	margin-left: 1em;
	margin-bottom: 1em;
	position: relative;
	top: 2em;
	padding-bottom: 1em;
    justify-content: center;
	float: left;
	height: 29em;
	box-shadow: 1px 1px 5px #888888;
	border-radius: .5em;
}

.temp_lside {
	display: none;
}

.link {
	text-decoration: none;
	color: #7491A3;
}

.see_more_text {
	background-color: #867970;
	padding: .5em;
	border-radius: .3em;
	color: #EFECE5;
	text-decoration: none;
}

.header_font {
	font-family: "Goudy Old Style";
	font-size: .9em;
	position: relative;
	bottom: .7em;
	color: white;
	padding-top: .2em;
	padding-bottom: .2em;
}

.footer_font {
	font-family: "Goudy Old Style";
	font-size: 15px;
	position: relative;
	top: .7em;
	padding-left: 1em;
	color: white;
	padding-top: .2em;
}

.welcome {
	background-color: #D8E0CE;
	width: 100%;
	text-align: left;
	border-bottom: .5em solid #7491A3;
	box-shadow: 1px 1px 5px #888888;
	background-image: url(background-collage.jpg);
	height: 120px;
}

.welcome2 {
	width: 100%;
	text-align: left;
	height: 100%;
	opacity: .6;
	background-color: #D8E0CE;
	overflow: hidden;
}

.vhl_logo {
	height: 100px;
	position: relative;
	bottom: 110px;
	padding-left: 1em;
}

.spacer {
	height: 2em;
}

.welcome_font {
	padding: .3em;
	font-family: Century Gothic;
	font-size: 3em;
	color: black;
	letter-spacing: .1em;
	opacity: 1;
	font-weight: normal;
	padding-left: 1em;
}

.underline {
	border-bottom: 1px solid
}

.navi {
	background-color: lightgrey;
	color: black;
	font-family: Helvetica;
	padding: .5em;
	padding-right: 0.25em;
	margin-left: 1em;
	position: absolute;
	left: 0em;
	z-index: 20;
	border-radius: 0 0 .5em .5em;
	width: auto;
	box-shadow: 1px 1px 5px #888888;
	height: 1.1em;
	overflow: hidden;
}

.navi_link {
	text-decoration: none;
	color: grey;
	padding-right: 1.4em;
}

.title {
	font-size: 1.6em;
	color: #3D352A;
	font-family: Century Gothic;
	padding-bottom: .3em;
}

.navi_link:hover {
	color: white;
}

.blog {
	font-family: Helvetica;
	border-radius: .5em;
	padding: .5em;
	padding-left: 1em;
	min-width: 20em;
	padding-right: 1em;
	font-size: .9em;
}

.social {
	text-align: right;
	color: grey;
	font-family: Helvetica;
	margin-top: 1em;
	margin-left: 1em;
	padding-right: .5em;
	padding-left: .5em;
	position: absolute;
	width: auto;
	border-radius: .5em .5em 0 0;
	top: 6.5em;
	right: 2em;
	height: 2.5em;
	background: #7491A3;
}

.widget {
	width: 1.5em;
	position: relative;
	margin-top: .3em;
	border-radius: 1em;
}

.blog_post {
	padding-bottom: .3em;
}

.blog_post_title {
	color: #867970;
}

iframe {
	border: none;
	padding-top: 1em;
	min-height: 850px;
}

/* Blog Specific */

.formtable {
	margin: auto;
	margin-top: 50px;
}

.submit {
	text-align: right;
}

.submit input {
	background-color: white;
	border: 1px solid grey;
	border-radius: 5px;
}

.submit input:hover {
	background-color: grey;
	color: white;
	border: 1px solid white;
}

.role {
	padding-left: 10px;
	clear: left;
}

.role b {
	font-size: 1.2em;
	color: #7491A3;
}

.role a {
	color: #7491A3;
	text-decoration: none;
}

.people_title {
	clear: left;
	font-size: 1.3em;
}

.headshot {
	float: left;
	width: 8em;
	border: 5px solid #D4CCC5;
	margin-right: .5em;
	margin-bottom: .3em;
}

.contact .label {
	font-size: .7em;
	padding-bottom: 0;
	color: grey;
}

.contact .warning {
	font-size: .7em;
	padding-bottom: 1em;
	color: red;
}

.contact .legend {
	font-size: .5em;
	padding-bottom: 0;
	text-align: right;
	color: grey;
}

.contact table {
	width: 97%;
}

.contact input, textarea {
	width: 100%;
	background-color: lightgrey;
	color: white;
	margin-bottom: 1em;
	border: 1px solid #7491A3;
	font-weight: bold;
	padding: 5px;
	vertical-align: top;
	resize: none;
}

.contactsubmit {
	text-align: right;
}

.contactsubmit input {
	border: 1px solid #7491A3;
	width: 15%
}

.contactsubmit input:hover {
	background-color: #7491A3;
	border: 1px solid lightgrey;
}

.removePost {
	width: 3%;
}

.removePost input {
	margin-top: 1em;
}

.removeButton input:hover {
	background-color: #7491A3;
	border: 1px solid lightgrey;
}

.removeButton input {
	background-color: lightgrey;
	width: 25%;
	border: 1px solid #7491A3;
}

.removeButton {
	text-align: right;
}

.posts {
	width: 90%;
	text-align: left;
	padding: 1em;
	border: 1px solid #7491A3;
	margin-bottom: 3em;
	font-size: .75em;
}

.img_cont {
	width: 350px;
	height: 230px;
	overflow: hidden;
	padding-top: 0;
	box-shadow: 1px 1px 5px #888888;
	position: relative;
}

.img_cont:hover .img_desc {
	height: 100%;
	background-color: #333;
}

.iphone_cont {
	display: none;
}

.img_desc {
	position: absolute;
	background-color: none;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
}

.text {
	padding-top: .5em;
	padding-right: 1em;
}

.img_cont img {
	width: 100%;
	display: block;
	height: auto;
}

.img_title {
	font-size: .7em;
	padding-bottom: 0;
	position: relative;
	color: #333;
	top: 1em;
}

.news_title {
	padding-top: 10px;
	font-size: 1.2em;
	margin: 0;
	color: #7491A3;
}

.news_cell {
	vertical-align: bottom;
	height: auto;
	padding: 0;
	margin: 0;
}

.news_text {
	padding-right: 1em;
}

.news_cell a {
	text-decoration: none;
	color: inherit;
}

.news_cont {
	width: 300px;
	overflow: hidden;
	padding-top: 0;
	box-shadow: 1px 1px 5px #888888;
	position: relative;
}

.disc_img_title {
	font-size: .7em;
	padding-bottom: 0;
	color: #333;
}

.img_desc {
	font-size: 0.8em;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	display: block;
}

.news_desc {
	font-size: 0.8em;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	display: block;
	background-color: #333;
	height: 100%;
}

.iphone_disc_img_desc {
	display: none;
}

.disc_img_cont {
	width: 100px;
	height: 100px;
	overflow: hidden;
	padding-top: 0;
	box-shadow: 1px 1px 5px #888888;
}

.disc_img_desc {
	font-size: 0.8em;
	padding: 5px;
}

.fieldset {
	text-decoration: none;
	color: inherit;
}

.archive td {
	padding-bottom: 1em;
}

.img_desc a, .news_desc a {
	color: yellow;
}

.proj_org {
	width: 100%;
}

.news_org {
	width: 100%;
	padding-left: 1em;
	padding-right: 1em;
}